- if user_signed_in?
  %h1 Hello #{current_user.full_name}
- else
  %h1 Sign up now for your Bimby account


= link_to "Login with fb", user_omniauth_authorize_path(:facebook) if !user_signed_in?
= link_to "Sign Out", destroy_session_path(:user), method: :delete if user_signed_in?
