- if false
  %center
    #tiles= image_tag 'tiles2.png'
  .row
    %center
      %h3 First Talk!
    .small-9.large-10.columns
      %center
        = image_tag photo.full_url
    .small-9.large-10.columns
      %p
        %strong Carla Hampfrey said:
        My baby is now talking! I'm so happy right now. Her first word is "Mama", what a lovely girl.
      %ul.inline-list
        %li
          %a{:href => ""} Reply
        %li
          %a{:href => ""} Share
      %h6 2 Comments
      .row
        .small-3.large-2.columns
          %img{:src => "http://placehold.it/50x50&text=[img]"}/
        .small-9.large-10.columns
          %p You're baby is soooo cutee!
      .row
        .small-3.large-2.columns
          %img{:src => "http://placehold.it/50x50&text=[img]"}/
        .small-9.large-10.columns
          %p She's as beautiful as you! She has the same nose as yours! What a lovely girl.
