.large-4.columns.pull-8#profile
  .panel
    %a{:href => "#"}
      - if @profile_photo.present?
        = image_tag @profile_photo.full_url
      - else 
        = image_tag "http://placehold.it/300x240&text=[img]"
    %h5
      %a{:href => "#"}
      =link_to  @baby.name.present? ? @baby.name : "Baby Name", "#"
    .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
      %section.section
        %h5.title
          %a{:href => "#"} Badge 1 (Hello World!)
      %section.section
        %h5.title
          %a{:href => "#"} Badge 2 (First Cry)
      %section.section
        %h5.title
          %a{:href => "#"} Badge 3 (First Talk)
      %section.section
        %h5.title
          %a{:href => "#"} Badge 4 (First Walk)
      %section.section
        %h5.title
          %a{:href => "#"} Badge 5 (First Jump)
