// Place all the styles related to the Babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#profile {*/
  /*position: fixed*/
/*}*/

#growth{
  width: 500px;
  height: 450px;
  border: 2px solid black;
}

.month-block{
  width: 165px;
  height: 450px;
  border: 1px solid red;
  position:relative;
  /*display:inline-block;*/
  float:left;

  .month-name{
    position: absolute;
    bottom: 0;
  }

  .month-row{
    height:150px;
    border: 1px solid blue;
  }
}
