// Place all the styles related to the Babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#profile {*/
  /*position: fixed*/
/*}*/

#growth{
  width: 500px;
  height: 450px;
}

.month-block{
  width: 165px;
  height: 450px;
  /*display:inline-block;*/
  position:relative;
  float:left;

  .month-name{
    position: absolute;
    bottom: 0;
  }

  .month-row{
    height:150px;
    padding:5px
  }

  .advanced{ background: #57d68d}
  .regular{ background: #f3cf3f}
  .delayed{ background: #e74c3c}
}
